<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section>
        <div class="bars">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                 style="background-color: green; margin: 0; color: white;"
                 :style="{width: playerHealth + '%'}">
                    {{playerHealth}}
                </div>
            </div>
        </div>
        <div class="bars">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" v-bind:class="['healthbar']"
                 :style="{width: monsterHealth + '%'}"
                  style="background-color: red; margin: 0; color: white;">
                    {{monsterHealth}}
                </div>
            </div>
        </div>
    </section>
    <section  v-if="!gameIsRunning">
        <div class="start">
            <button  id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </section>
    <section v-else id="control-column">
        <div >
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="playerStrike.length > 0" id="stats">
        <div class="columns" >
            <ul class="turn">
                <li class="player-turn"  v-for="strike in playerStrike" >
                    PLAYER HITS MONSTER FOR {{strike}}             
                </li> 
                    
            </ul>
            <ul class="turn">
                <li class="monster-turn"  v-for="strike in monsterStrike">
                    MONSTER HITS PLAYER FOR {{strike}}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>